body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cadetblue;    
    font-family: 'Bigelow Rules', cursive;
}
.title-wrapper{
    display: flex;
    text-align: center ;
    align-items: center;
    background-image: url(../images/clouds2.jpg);
    font-size: 2rem;
    border: 11px solid rgb(239, 239, 97);
}

.title{
    border: 2px solid rgb(255, 123, 0);
    
}

.title-wrapper > *{
    flex: 1;
}


#weather-wrapper{
    display:flex;
    box-shadow: 3px 3px 6px rgba(107, 100, 100, 0.6);
    background-image: url(../images/clouds3.jpg);
    background-size: 100%;  
    flex-wrap: wrap; 
    justify-content: center;  

}

.btn{
    color: chartreuse;
    font-size: .75rem;
    padding: .5rem;
    background-color: rgb(85, 4, 84);
    border-radius: 5px;
    box-shadow: 4px 3px 6px rgba(123, 233, 321, 0.6);  
}

#search-input{
    border-radius: 5px;
    padding: .5rem;
    background-color: aliceblue;
}


#weather-wrapper > *{
    flex: 1;
}

.form-container{
    padding:2rem;

}

.five-day{
display: flex;
background-image: url(../images/clouds1.jpg);
background-size: 100%;
background-repeat: no-repeat;
color: chartreuse;
font-size: 2rem;
padding: 1rem;
flex-wrap: wrap;
}

.five-day > *{
  flex: 1;
}

.history-btn{
    width: 7rem;
}

.history-btn:hover{  
   cursor: pointer;
   color: chartreuse;
   font-size: 1.5rem;
   padding: .5rem;
   background-color: rgb(85, 4, 84);
   border-radius: 5px;
   box-shadow: 4px 3px 6px rgba(123, 233, 321, 0.6);
}
.history-btn{
   list-style: none; 
   

}

.search-results-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
}

#city-info{
    min-width: 10rem;
    max-width: 40rem;
    min-height: 10rem;
    max-height: 30rem;
    box-shadow: 4px 3px 6px rgba(49, 34, 68, 0.6);
    border-radius: 5px;
    padding: 1rem;
}

article{
   padding-top: 30rem;
   text-align: center;
}

.card-border{
    border-radius: 5px;
    box-shadow: 4px 3px 6px rgba(123, 233, 321, 0.8);
    padding: 1rem;
}

@media screen and (max-width: 768px){
    .five-day{
     height: fit-content;
     font-size: 1rem;
     gap: 2rem;
     
    }
}

@media screen and (max-width: 420px){
    .five-day{
     padding-top: 30rem;

     
    }

    .card-border{
        background-color: #212f45;
        margin-left: 2.5rem;
    }

    #city-info{
        box-shadow: 4px 4px 6px rgba(255, 183, 0, 0.6);
    }

    #city-info h2, p{
      color: aliceblue;
    }
}